<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
	crossorigin="anonymous"
/>
<title>Foto Album Home</title>
</head>
<body>
	<th:block th:replace="frags/header :: header"></th:block>
	<main class="container text-center">
		<h1 class="my-5">Home</h1>
		<h3 class="mb-5" th:unless="${userName == null}">Benvenuto [[ ${userName} ]]</h3>
		<a class="btn btn-primary" th:href="@{/login}" th:if="${userName == null}">Log in</a>
		<a class="btn btn-primary" th:href="@{/admin/auth/moderation}" sec:authorize="hasAuthority('SUPERADMIN')">Moderazione</a>
		<a class="btn btn-primary" th:href="@{/admin/auth/categories}" sec:authorize="hasAuthority('SUPERADMIN')">Categorie</a>
		<a class="btn btn-primary" th:href="@{/user/auth}" sec:authorize="hasAuthority('ADMIN')">Le mie foto</a>
	</main>
</body>
</html>