<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
	crossorigin="anonymous"
/>
<title>Le mie foto</title>
</head>
<body>
	<th:block th:replace="frags/header :: header"></th:block>
	<main class="container text-center">
		<h1 class="my-5">Le mie foto</h1>
		<form class="d-flex justify-content-center mb-3" method="POST">
			<input class="me-2" type="text" name="title" th:value=${searchTerm}>
			<button class="btn btn-secondary">Cerca</button>
		</form>
		<a th:href="@{/user/auth/photos/create}" class="btn btn-success mb-3" sec:authorize="hasAuthority('ADMIN')">Aggiungi foto</a>
		<div class="row row-cols-3 justify-content-center">
			<div class="col mb-3" th:each="photo : ${photos}" th:object="${photo}">
				<div  class="card p-3 h-100 shadow-sm">
					<h3 class="my-3">[[ *{title} ]]</h3>
					<img th:if="*{visibility}" class="img-fluid mb-3" th:alt="*{title}" th:src="*{imageUrl}">
					<img th:unless="*{visibility}" class="img-fluid mb-3" alt="banned" src="https://t4.ftcdn.net/jpg/00/92/53/53/360_F_92535322_LoiaQQSi2g37y0Ty4hqL0AthFQE12wRE.jpg">
					<p class="mb-3">[[*{description}]]</p>
					<h5 th:unless="*{categories.isEmpty()}">Categorie</h5>
					<ul class="list-unstyled">
						<li th:each="category : *{categories}">[[ ${category.name} ]]</li>
					</ul>
					<div class="buttons row">
						<div class="col-12 d-flex justify-content-center">
							<a th:href="@{/{id} (id=*{id})}" class="btn btn-primary mb-3">Dettagli</a>						
						</div>
						<div class="col-12 d-flex justify-content-center">
							<a th:if="*{visibility}" th:href="@{/user/auth/photos/edit/{id} (id=*{id})}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-warning me-2"><i class="fa-regular fa-pen-to-square"></i></a>
							<form class="me-2" sec:authorize="hasAuthority('ADMIN')" th:action="@{/user/auth/photos/delete/{id} (id=*{id})}" method="POST">
								<button class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button>
							</form>
							<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/user/auth/photos/{id}/comments (id=*{id})}" class="btn btn-primary"><i class="fa-regular fa-comment"></i></a>						
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>